<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="regstyles.css">
</head>
<body>
  <div class="container">
<section class="group_form d-flex flex-column justify-content-center align-items-center">
<h1 class="text-dark">Add Catogery</h1>
<%= render partial: 'shared/category' %>
</section>
</div>
</body>
</html>