<nav class="d-flex flex-row justify-content-between bg-primary text-light align-items-center px-2" style="width: 50%; margin: 0 auto;">
  <%= link_to back, back_path, class: "text-light text-decoration-none fs-5" %>
  <span class="fs-4 mx-auto text-light">Cash Nest</span>
</nav>
